/* Imagen utilizada por defecto, la que se utlizará en pantallas pequeñas */
body {
    background: url("background.png");
}

/* Imagen utilizada en pantallas de anchura 480 px y superior */
@media (min-width: 480px) {
    body {
        background: url("background-480w.png");
    }
}

/* Imagen utilizada en pantallas de anchura 768 px y superior */
@media (min-width: 768px) {
    body {
        background: url("background-768w.png");
    }
}

/* Imagen utilizada en pantallas de anchura 1200 px y superior */
@media (min-width: 1200px) {
    body {
        background: url("background-1200w.png");
    }
}